{% extends "layout.html" %}
{% block content %}

{% if sqltype == 'SELECT' %}
<a href="/data/{{ table }}/{{ idval }}/update">Upravit záznam</a><br><br>
<a href="/data/{{ table }}/{{ idval }}/delete">Smazat záznam</a><br><br>
<a href="/data/{{ table }}">Zpět na tabulku</a><br><br>
{% endif %}
{% if sqltype == 'UPDATE' or sqltype == 'DELETE'%}
<a href="/data/{{ table }}/{{ idval }}/select">Zpět na záznam</a><br><br>
{% endif %}
{% if sqltype == 'INSERT' %}
<a href="/data/{{ table }}">Zpět na tabulku</a><br><br>
{% endif %}

 <div style="overflow-x:auto;">
<table>
        <tr>
            <th>Sloupec</th>
            {% if sqltype != 'INSERT' %}
            <th>Původní hodnota</th>
            {% endif %}
            {% if sqltype == 'UPDATE' or sqltype == 'INSERT' %}
            <th>Nová hodnota</th>
            {% endif %}
        </tr>
    <FORM method="post">
        <tr>
        {% for i in range(itr) %}
        <td> {{columns[i] }} </td>
            {% if sqltype != 'INSERT' %}
                <td>{{ values[i] }}</td>
            {% endif %}
            {% if sqltype == 'UPDATE' %}
                <td>
                    <label for="{{ columns[i] }}"></label>
                    <input type = "text" id="{{ columns[i] }}" name="{{ columns[i] }}" value = "<same>"><br>
                </td>
            {% endif%}
            {% if sqltype == 'INSERT' %}
                <td>
                    <label for="{{ columns[i] }}"></label>
                    <input type = "text" id="{{ columns[i] }}" name="{{ columns[i] }}" value = ""><br>
                </td>
            {% endif%}
        </tr>
        {% endfor %}
        {% if sqltype != 'SELECT' %}
        <input type="submit" value="{{ sqltype }}">
        {% endif %}
    </FORM>

</table>
 </div>
{% endblock %}
