<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Tajemnik</title>
    <meta charset="ISO-8859-2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
 <div class="row">
     <div class="column left" ><h1>Tajemník</h1>
         <b>Data</b><br><br>
         <a href="/data/">Data</a><br>
         <br><b>Funkce</b><br><br>
         <a href="/funkce/predmety_ve_skupinach">Předměty ve skupinách</a><br>
         <a href="/funkce/nevyresenestitky">Generování štítků</a><br>
         <a href="/funkce/stitky_k_prirazeni">Štítky k přiřazení</a><br>
         <a href="/funkce/pracovnilisty">Generování PL</a><br>
         <a href="/funkce/generujcsv">Generování csv</a><br>
     </div>
     <div class="column right">{% block content %} {% endblock %}</div>
</div>


</body>
</html>