{% extends "layout.html" %}
{% block content %}
 <div style="overflow-x:auto;">
<table>
        <tr>
            <th>Změnit předmět</th>
            <th>Změnit skupinu</th>
        {% for h in hlavicka %}
            <th>{{ h }}</th>
        {% endfor %}
        </tr>
    <FORM method="post">
            {% for i in data %}
            <tr>
                <td>
                    <select name="{{ i[0] }}_predmet">
                    {% for pre in predmet %}
                            <option value="{{ pre }}">{{ pre }}</option>
                    {% endfor %}
                    </select><br>
                </td>
                <td>
                    <select name="{{ i[0] }}_skupina">
                    {% for sku in skupina %}
                            <option value="{{ sku }}">{{ sku }}</option>
                    {% endfor %}
                    </select><br>
                </td>
            {% for j in i %}
                <td>
                    {{ j }}
                </td>
            {% endfor %}
            </tr>
            {% endfor %}
    <input type="submit" value="Změnit">
    </FORM>

</table>
 </div>

{% endblock %}
