{% extends "layout.html" %}
{% block content %}

<a href="/data/">Zpět na seznam</a><br><br>
<a href="/data/{{ tabname }}/0/insert">Vložit nový záznam</a><br><br>
 <div style="overflow-x:auto;">
<table>
        <tr>
            <th>odkaz</th>
            {% for i in header %}
        <th>{{ i }}</th>
        {% endfor %}
    </tr>
     {% for i in table %}
    <tr>
        <td><a href="/data/{{ tabname }}/{{ i[0] }}/select">+</a></td>
        {% for j in i %}
        <td>{{ j }}</td>
        {% endfor %}
    </tr>


    {% endfor %}
</table>
 </div>

{% endblock %}